// home.module.sass
.home
  display: flex
  min-height: 100vh
  background-color: #f5f5f5
  font-family: Arial, sans-serif
  min-width: 100vw
  color: black

.main
  flex: 1
  padding: 20px
  display: flex
  flex-direction: column
  align-items: center
  max-height: calc(100vh - 90px)
  margin-top: 90px
  overflow-y: auto
  position: relative

.header
  margin-bottom: 20px

.title
  font-size: 24px
  font-weight: bold
  margin-bottom: 8px
  color: #333
  position: absolute
  left: 10px
  top: 10px

.date
  font-size: 14px
  color: #666
  //margin-bottom: 8px
  margin: 0 auto
  text-align: center

.greeting
  font-size: 16px
  color: #333

.stats
  display: flex
  margin-bottom: 30px
  padding-bottom: 15px
  border-bottom: 1px solid #e0e0e0

.statItem
  display: flex
  flex-direction: column

.statLabel
  font-weight: bold
  margin-bottom: 5px
  text-align: center

.statValues
  display: flex
  gap: 15px
  font-size: 14px
  color: #666

.sections
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr))
  gap: 20px
  width: 100%

.section
  background-color: white
  border-radius: 8px
  padding: 15px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)

.sectionTitle
  font-size: 16px
  font-weight: bold
  margin-bottom: 15px
  display: flex
  align-items: center
  gap: 5px

.redDot
  color: red

.taskStatus
  font-size: 14px
  padding: 5px 0
  border-bottom: 1px solid #f0f0f0
  cursor: pointer
  &:hover
    background-color: #f9f9f9

.taskList, .projectList
  list-style: none
  padding: 0
  margin: 10px 0 0 0

.taskItem, .projectListItem
  padding: 8px 0
  border-bottom: 1px solid #f0f0f0
  font-size: 14px
  cursor: pointer
  &:hover
    background-color: #f9f9f9

.projectItem
  padding: 8px 0
  border-bottom: 1px solid #f0f0f0
  font-size: 14px
  display: flex
  justify-content: space-between
  cursor: pointer
  &:hover
    background-color: #f9f9f9

.date
  color: #999
  font-size: 12px

.subtitle
  font-size: 14px
  color: #666
  margin: 10px 0 5px 0

.taskAlert
  font-size: 14px
  color: #ff6b6b
  margin-bottom: 10px